.photo-grid {
  width: 92%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-content: end;
  gap: 16px;
}

@media screen and (max-width: 1100px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr;
    width: 93%;
    margin-top: 64px;
  }
}

@media screen and (max-width: 599px) {
  .photo-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
  }
}
