.places {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 1100px) {
  .places {
    min-width: 95%;
  }
}

@media screen and (max-width: 599px) {
  .places {
    padding: 0;
    min-width: 100%;
  }
}
