.place {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1.05fr;
  grid-template-areas:
    "place__title place__artist"
    "place__image place__description"
    "button__place place__description"
    ". place__description";
  gap: 48px 25px;
}
  
.place:first-of-type {
  margin-top: 0;
}
  
@media screen and (max-width: 970px) {
  .place {
    margin-top: 72px;
    column-gap: 28px;
}
}
  
@media screen and (max-width: 767px) {
  .place {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    margin-top: 50px;
}
}