.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 92px auto 0;
}

@media screen and (max-width: 970px) {
  .lead {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    margin-top: 51px;
  }
}
