.photo-grid__item {
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .photo-grid__item {
    min-width: 220px;
    min-height: 172px;
  }
}

@media screen and (max-width: 599px) {
  .photo-grid__item {
    min-width: 288px;
    min-height: 213px;
  }
}
