  .lead__image {
    margin-top: 64px;
    max-width: 100%;
    height: 100%;
    filter: grayscale(100%);
  }
  
  @media screen and (max-width: 970px) {
    .lead__image {
      margin-top: 69px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .lead__image {
      margin-top: 40px;
    }
  }