.lead__image {
  max-width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .lead__image {
    margin-bottom: 88px;
    max-width: 100%;
  }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  .lead__image {
    max-height: none;
    margin-bottom: 66px;
    max-width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .lead__image {
    max-height: none;
    margin-bottom: 44px;
    max-width: 100%;
  }
}
