.lead__image {
  max-width: 100%;
}

@media screen and (max-width: 1100px) {
  .lead__image {
    margin-bottom: 88px;
    max-width: 100%;
  }
}

@media screen and (max-width: 599px) {
  .lead__image {
    max-height: none;
    margin-bottom: 44px;
    max-width: 100%;
  }
}
