.intro__text{
  margin-top: 42px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}
      
@media screen and (max-width: 767px) {
  .intro__text {
    margin-top: 62px;
}
}