.intro__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  padding-bottom: 92px;
  max-width: 720px;
}

@media screen and (max-width: 767px) {
  .intro__text {
    margin-top: 62px;
  }
}
