.cover__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1110px) {
  .cover__text {
    font-size: 14px;
    line-height: 1.14;
    margin: 0 auto 24px;
  }
}

@media screen and (max-width: 599px) {
  .cover__text {
    font-size: 14px;
    line-height: 1.14;
    margin: 0 auto 16px;
  }
}
