.cover {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
position: relative;
background-image: url(../../images/__background.png);
background-size: cover;
background-repeat: no-repeat;
margin: 0 48px 0;
height: 740px;
}
  
@media screen and (max-width: 970px) {
  .cover {
    width: 50%;
}
}
  
@media screen and (max-width: 767px) {
  .cover {
    margin-top: 64px;
}
}