.cover {
  background-image: linear-gradient(
      rgba(42, 44, 47, 0.3),
      rgba(42, 44, 47, 0.3)
    ),
    url("../../images/__background.png");
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin: 0 48px 0;
  height: 740px;
  line-height: 0;
}

.cover:hover {
  background-image: linear-gradient(
      rgba(42, 44, 47, 0.8),
      rgba(42, 44, 47, 0.8)
    ),
    url("../../images/__background.png");
  background-size: cover;
}

@media screen and (max-width: 1110px) {
  .cover {
    margin: 0 auto;
    max-height: 768px;
    width: 100%;
  }
}

@media screen and (max-width: 599px) {
  .cover {
    margin: 0 auto;
    max-height: 254px;
    width: 100%;
  }
}
