.cover__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

@media screen and (max-width: 1110px) {
  .button_cover {
    max-height: 254px;
    width: 100%;
  }
}

@media screen and (max-width: 599px) {
  .button_cover {
    max-height: 163px;
    width: 100%;
  }
}
