.cover__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  color: #fffdfd;
  margin: 0 0 32px;
}

@media screen and (max-width: 599px) {
  .cover__title {
    font-size: 32px;
    font-weight: 900;
    line-height: 1.09;
    margin: 46px 0 16px;
  }
}
