.cover__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  color: #fffdfd;
  margin: 0 0 32px;
}

@media screen and (min-width: 600px) and (max-width: 1100px) {
  .cover__title {
    font-size: 50px;
    font-weight: 900;
    line-height: 1.09;
    color: #fffdfd;
    margin: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .cover__title {
    font-size: 32px;
    font-weight: 900;
    line-height: 1.09;
    color: #fffdfd;
    margin: 0;
  }
}
