.place__artist-title {
  grid-area: place__artist-title;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.21;
  color: #aaaaaa;
  margin: 0 0 8px;
}

@media screen and (max-width: 1100px) {
  .place__artist-title {
    margin: 0 0 8px;
  }
}

@media screen and (max-width: 599px) {
  .place__artist-title {
    margin: 0 16px 8px;
  }
}
