.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "place__title place__artist"
    "place__image place__description"
    "button_place place__description"
    ". place__description";
  /* Olá, Júlia! Em conversa com o tutor ele me explicou que é importante deixar essa último linha porque caso contrário
    o botão pode desconfigurar; e, ao ajustar a configuração do último place e revisar os blocos, acredito que eu dessa
    forma eu tenha resolvido o espaçamento extra*/
  margin: 0 auto 80px;
  grid-gap: 48px 40px;
}

.place:last-of-type {
  margin: 0;
}

@media screen and (max-width: 1100px) {
  .place {
    grid-gap: 28px 25px;
    margin: 50px auto 0;
  }

  .place:first-of-type {
    margin: 0 auto 50px;
  }

  .place:last-of-type {
    margin: 50px 0;
  }
}

@media screen and (max-width: 599px) {
  .place {
    margin: 50px auto;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "place__title"
      "place__artist"
      "place__image"
      "place__description"
      "place__description"
      "place__description"
      "button_place";
  }

  .place:first-of-type {
    margin: 0 auto 30px;
  }
}
