.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "place__title place__artist"
    "place__image place__description"
    "button_place place__description"
    ". place__description";
  margin: 0 auto 80px;
  grid-gap: 48px 40px;
}

.place:last-of-type {
  margin: 0;
}

@media screen and (max-width: 599px) {
  .place {
    margin: 50px auto;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "place__title"
      "place__artist"
      "place__image"
      "place__description"
      "place__description"
      "place__description"
      "button_place";
  }
}
