.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "place__title place__artist"
    "place__image place__description"
    "button_place place__description"
    ". place__description";
  margin: 0 0 52px;
  grid-gap: 48px 40px;
}

@media screen and (max-width: 1100px) {
  .place:first-of-type {
    margin: 0 0 52px;
  }

  .place:last-of-type {
    margin: 0 0 92px;
  }
}

@media screen and (max-width: 599px) {
  .place {
    margin: 15px 0 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "place__title"
      "place__artist"
      "place__image"
      "place__description"
      "place__description"
      "place__description"
      "button_place";
  }

  .place:first-of-type {
    margin: 15px 0 30px;
  }

  .place:last-of-type {
    margin: 0 0 64px;
  }
}
