.place__description {
  grid-area: place__description;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1100px) {
  .place__description {
    margin: 0;
    gap: 0;
  }

  .place__description:first-of-type {
    margin: 0 0 52px;
  }
}

@media screen and (max-width: 599px) {
  .place__description {
    margin: 0 16px 0;
    gap: 0;
  }
}
