.place__description {
  grid-area: place__description;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media screen and (max-width: 599px) {
  .place__description {
    width: 90%;
    margin: 0 16px 0;
    gap: 0;
  }
}
