.button {
display:flex;
justify-content: center;
border-radius: 4px;
text-align: center;
font-size: 18px;
line-height: 1.12;
font-weight: 600;
background-color: #0278fe;
color:white;
text-decoration: none;
padding: 13px 20px;
}

  
 
.button:hover {
  background-color: #0063d2;
  cursor: pointer;
}
  
