.button_place {
  grid-area: button_place;
  max-width: 355px;
  max-height: 48px;
}

@media screen and (max-width: 1100px) {
  .button_place {
    font-size: 16px;
    font-style: normal;
    max-width: 322px;
    max-height: 48px;
    line-height: 1.21;
    margin: 0 auto;
  }
}

@media screen and (max-width: 599px) {
  .button_place {
    font-size: 14px;
    font-style: normal;
    max-width: 288px;
    max-height: 48px;
    line-height: 1.21;
    margin: 0 16px 0;
    padding: 15px 21px 16px 22px;
  }
}
