.button_place {
  grid-area: button__place;
  max-width: 355px;
  max-height: 48px;
}

@media screen and (max-width: 767px) {
  .button__place {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    margin: 0 16px;
  }
}
